@import url("./global.css");

/*----- HEADER -----*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 46px;
    border-bottom: 2px solid var(--color-primary);
    background-color: var(--color-secondary);
}

.navigation-header ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

.navigation-header ul li a {
    color: var(--color-neutral-white);
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    text-decoration: none;
}

.btn-header {
    font-family: var(--font-primary); 
    text-decoration: none; 
    background-color: var(--color-primary); 
    color: var(--color-neutral-white);
    border-radius: 10px;
    padding: 10px 20px; 
    font-weight: var(--font-weight-button);
}

/*----- MAIN -----*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    gap: 50px;
    padding: 100px 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 499px;
    gap: 25px;
}


.main-content h1 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    color: var(--color-neutral-white);
    letter-spacing: 0.5px;
}

.main-content h1 span {
    color: var(--color-primary);
}

.main-content p {
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-neutral-white);
    letter-spacing: 0.5px;
}

.container-cta {
    font-family: var(--font-primary);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    text-decoration: none;
    color: var(--color-neutral-white);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 10px 25px;
}