@import url("./global.css");

/*----- HEADER -----*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 46px;
    border-bottom: 2px solid var(--color-primary);
    background-color: var(--color-secondary);
}

.navigation-header ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

.navigation-header ul li a {
    color: var(--color-neutral-white);
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    text-decoration: none;
}

.btn-header {
    font-family: var(--font-primary); 
    text-decoration: none; 
    background-color: var(--color-primary); 
    color: var(--color-neutral-white);
    border-radius: 10px;
    padding: 10px 20px; 
    font-weight: var(--font-weight-button);
}

/*----- MAIN -----*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    gap: 50px;
    padding: 100px 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 499px;
    gap: 25px;
}

.main-content h1 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    color: var(--color-neutral-white);
    letter-spacing: 0.5px;
}

.main-content h1 span {
    color: var(--color-primary);
}

.main-content p {
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-neutral-white);
    letter-spacing: 0.5px;
}

.container-cta {
    font-family: var(--font-primary);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    text-decoration: none;
    color: var(--color-neutral-white);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 10px 25px;
}

/*----- SECTION-SERVICES -----*/

.section-services {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.container-item-services {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    gap: 30px;
}

.container-item-services h2 {
    font-size: var(--font-size-h2);
    color: var(--color-secondary);
    width: 443px;
}

.container-item-services h2 span {
    color: var(--color-primary);
}

.container-item-services p {
    width: 603px;
    letter-spacing: 0.5px;
}

/*----- SECTION-DETAILS -----*/

.section-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 60px 0;
    background-color: var(--color-secondary);
}

.section-details h2 {
    text-align: center;
    font-family: var(--font-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-neutral-white);
    letter-spacing: 0.5px;
}

.section-details h2 span{
    color: var(--color-primary);
}

.section-details p {
    text-align: center;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    width: 730px;
    color: var(--color-neutral-white);
    letter-spacing: 0.5px;
}

/*----- FOOTER -----*/
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0 62px 0;
    gap: 126px;
    background-color: var(--color-secondary);
    border-top: 1px solid var(--color-neutral-white);
}

.footer-information {
    font-family: var(--font-primary);
    color: var(--color-neutral-white);
}

.footer-information h2 {
    font-size: var(--font-size-body);
    padding-bottom: 24px;
}

.footer-information ul {
    list-style: none;
}

.footer-information ul li a, .footer-information ul li {
    text-decoration: none;
    font-family: var(--font-primary);
    color: var(--color-neutral-white);
    font-size: var(--font-size-body);
    letter-spacing: 0.5px;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 0.5px solid #4D4D4D;
}

.footer-subscribe h2 {
    font-family: var(--font-primary);
    color: var(--color-neutral-white);
    font-size: var(--font-size-body);
    width: 198px;
    letter-spacing: 0.5px;
}

.footer-subscribe form{
    display: flex;
    padding-bottom: 16px;
}

.footer-subscribe input {
    color: var(--color-neutral-white);
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    background: transparent;
}

.footer-subscribe button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50px;
    padding: 11px;
}

.content-footer {
    padding-bottom: 16px;
}